/*Base Styling Start*/
:root{
	--header-height: 55px;
	--font-size-1: 0.875rem; /* 14px */
	--font-size-2: 1rem; /* 16px */
	--font-size-3: 1.125rem; /* 18px */
	--font-size-4: 1.25rem; /* 20px */
	--font-size-5: 1.5rem; /* 24px */
	--font-size-6: 1.875rem; /* 30px */
	--font-size-7: 3rem; /* 48px */
	--font-size-8: 3.75rem; /* 60px */
	
	--font-weight-1: 500;
	--font-weight-2: 600;
	--font-weight-3: 700;
	--font-weight-4: 800;
	
	--theme-color-1: rgb(0,0,0); /* Black */
	--theme-color-2: rgb(255,255,255); /* White */
	--theme-color-3: rgb(59,130,246); /* Blue */
	--theme-color-4: rgb(236,97,91); /* Brown */
	--theme-color-5: rgb(243,244,246); /* Light Purple */
	--theme-color-6: rgb(90,90,90); /* Dark Gray */
	
	--border-radius: 10px;
}
html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	text-decoration: none;
	transition: all 0.5s;
}
/*Base Styling End*/

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/*Header Start*/
#header{
	width: 100%;
	height: var(--header-height);
	
	background: var(--theme-color-2);
	
	position: fixed;
	
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
	
	z-index: 2;
}
#header .container{
	width: 90%;
	height: 100%;
	margin: auto;
	padding: 0px 10px;

	background: var(--theme-color-2);
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#header .logo a{
	font-size: var(--font-size-6);
	font-weight: var(--font-weight-3);
	color: var(--theme-color-1);
}
#header .logo a:hover{
	color: var(--theme-color-3);
}
#header .nav-bar{
	display: flex;
}
#header .nav-item a{
	color: var(--theme-color-1);
	
	font-size: var(--font-size-2);
	font-weight: var(--font-weight-1);
	
	padding: 10px 16px;
	margin-right: 15px;
	border-radius: var(--border-radius);
}
#header .nav-item a:hover,
#header .active a{
	background: var(--theme-color-3);
	color: var(--theme-color-2);
	
}
#header .hamburger-box{
	display: none;
	width: 25px;
	height: 20px;
	
	justify-content: space-between;
	flex-direction: column;
}
#header .hamburger-box .box1{
	width: 100%;
	height: 3px;
	background: var(--theme-color-4);
	transform-origin: top left;
}
#header .hamburger-box .box2{
	width: 100%;
	height: 3px;
	background: var(--theme-color-4);
}
#header .hamburger-box .box3{
	width: 100%;
	height: 3px;
	background: var(--theme-color-4);
	transform-origin: bottom left;
}
/*Header End*/

/*--------------------------------------------------------------------------*/

/*Home Start*/
#home{
	width: 100%;
	min-height: 100vh;
	max-height: max-content;
	padding: var(--header-height) 0px;
	
	background: url(../img/img1.png) no-repeat center top;
	background-size: cover;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
#home .container{
	width: 60%;
	height: 100%;
	margin: auto;
	padding: 0px 20px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
#home .box1{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	
	width: 40%;
}
#home .text-1{
	font-size: var(--font-size-8);
	font-weight: var(--font-weight-4);
}
#home .text-2{
	margin-bottom: 20px;
	font-size: var(--font-size-8);
	font-weight: var(--font-weight-4);	
	color: var(--theme-color-3);
}
#home .auto-type{
	border-right: 4px solid var(--theme-color-3);
}
#home .text-3{
	font-size: var(--font-size-4);
	font-weight: var(--font-weight-1);		
	color: var(--theme-color-1);
	width: 70%;
}
#home .social-link{
	margin: 40px 0px;
	padding: 10px;
	line-height: 0px;
	border-radius: var(--border-radius);
}
.social-link a{
	font-size: var(--font-size-6);
	color: var(--theme-color-1);
	display: inline-block;
	margin: 5px;
	
	text-shadow: 0px 0px 10px white;
}
.social-link a:nth-child(1){
	color: #3b5998;
}
.social-link a:nth-child(2){
	color: #25D366;
}
.social-link a:nth-child(3){
	color: #0077b5;
}
.social-link a:nth-child(4){
	color: #8a3ab9;
}
.social-link a:nth-child(5){
	color: #4078c0;
}
.social-link a:first-child{
	margin-left: 0px;
}
.social-link a:last-child{
	margin-right: 0px;
}
.social-link a:hover{
	color: var(--theme-color-1);
	transform: scale(1.5);
}
#home .cv-btn a{
	display: inline-block;
	padding: 25px 45px;
	background: var(--theme-color-3);
	font-size: var(--font-size-5);
	font-weight: var(--font-weight-2);
	color: var(--theme-color-2);
	border-radius: var(--border-radius);
	line-height: 0px;
}
#home .cv-btn a:hover{
	background: var(--theme-color-2);
	color: var(--theme-color-1);
	cursor: pointer;
}
#home .box2{
	width: 500px;
	height: 500px;
	
	background: url(../img/img2.svg) no-repeat center;
	background-size: cover;
}
#home .box2:hover{
	transform: scale(1.05);
}
/*Home End*/

/*--------------------------------------------------------------------------*/

/*About Start*/
.head{
	font-size: var(--font-size-7);
	font-weight: var(--font-weight-3);
	text-align: center;
	color: var(--theme-color-1);
	margin-bottom: 50px;
}
.sub-head{
	font-size: var(--font-size-6);
	font-weight: var(--font-weight-2);
	color: var(--theme-color-3);
}
.text{
	font-size: var(--font-size-3);
	color: var(--theme-color-6);
	text-align: justify;
	line-height: 25px;
	margin-bottom: 30px;
}
#about{
	width: 100%;
/*	min-height: 100vh; */
	max-height: max-content;
	padding: var(--header-height) 0px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
#about .container{
	width: 80%;
	height: 100%;
	margin: auto;
	padding: 0px 20px;
	
	display: flex;
	flex-direction: column;
	
}
#about .head{
}
#about .sub-head{
	
}
#about .text{
}
#about .box2{
	margin: auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#about .box2 > div{
	width: 250px;
	margin: 20px auto;
	padding: 10px;
	border-radius: var(--border-radius);
	
	background: var(--theme-color-5);
	
	display: flex;
	align-items: center;
	justify-content: center;
}
#about .box2 > div:hover{
	transform: scaleX(1.2);
}
#about .box2 img{
	width: 40px;
}
#about .box2 > div > div{
	margin: 10px;
	color: var(--theme-color-1);
	font-size: var(--font-size-3);
	font-weight: var(--font-weight-1);
}
/*About End*/

/*--------------------------------------------------------------------------*/

/*Services Start*/
#services{
	width: 100%;
/*	min-height: 100vh; */
	max-height: max-content;
	padding: var(--header-height) 0px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	background: var(--theme-color-5);
}
#services .container{
	width: 80%;
	height: 100%;
	margin: auto;
	padding: 0px 20px;
	
	display: flex;
	flex-direction: column;
}
#services .sub-head{
	text-align: center;
}
.box-sub-head{
	font-size: var(--font-size-4);
	font-weight: var(--font-weight-3);
}
#services .boxes{
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#services .boxes > div{
	width: 30%;
	border-radius: var(--border-radius);
	background: var(--theme-color-2);
	padding: 10px;
}
@keyframes iconShake{
	0%{
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(10deg);
	}
	75%{
		transform: rotate(-10deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
#services .boxes > div:hover{
	transform: scale(1.05);
}
#services .boxes > div:hover > .box-logo{
	animation-name: iconShake;
}
#services .box-logo{
	animation-duration: 1s;
	animation-iteration-count: infinite;
	transform-origin: bottom center;
	animation-timing-function: linear;
}
#services .box-logo,
#services .box-sub-head{
	text-align: center;
	margin: 10px 0px;
}
#services .text{
	font-size: var(--font-size-2);
	line-height: 25px;
}
/*Services End*/

/*--------------------------------------------------------------------------*/

/*Projects Start*/
#projects{
	width: 100%;
/*	min-height: 100vh; */
	max-height: max-content;
	padding: var(--header-height) 0px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
#projects .container{
	width: 80%;
	height: 100%;
	margin: auto;
	
	display: flex;
	flex-direction: column;
}
#projects .projects{
	height: 70vh;
	
	display: flex;
}
#projects .projects-name-list{
	width: 20%;
	background: var(--theme-color-5);
	
	display: flex;
	flex-direction: column;
	padding: 10px;
	
	overflow: hidden;
	overflow-y: auto;
	
}
#projects .projects-name-list .sub-head{
	text-align: center;
	background: var(--theme-color-5);
}
#projects .project-name{
	padding: 20px;
	background: var(--theme-color-1);
	color: var(--theme-color-2);
	border-radius: var(--border-radius);
	margin-top: 10px;
	line-height: 20px;
}
#projects .project-name:hover{
	background: var(--theme-color-3);
	cursor: pointer;
}
#projects .projects-frame-box{
	width: 80%;
	height: 100%;
}
#projects .project-frame iframe{
	height: 70vh;
	width: 100%;
}

/*Projects End*/

/*--------------------------------------------------------------------------*/

/*Contact Start*/
#contact{
	width: 100%;
/*	min-height: 95vh; */
	max-height: max-content;
	padding: var(--header-height) 0px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	background: var(--theme-color-5);
}
#contact .container{
	width: 80%;
	height: 100%;
	margin: auto;
	padding: 0px 20px;
	
	display: flex;
	flex-direction: column;
}
#contact .box{
	display: flex;	
	justify-content: space-between;
}
#contact .box1{
	width: 50%;
}
#contact .box2{
	display: flex;
	flex-direction: column;
	text-align: right;
	align-items: flex-end;
	justify-content: center;
}
#contact .box2 .sub-head{
	color: var(--theme-color-1);
}
#contact .box2 .text{
	color: var(--theme-color-3);
	text-align: right;
	font-size: var(--font-size-3);
}
#contact .box2 .text a{
	color: var(--theme-color-3);
}
.sub-text{
	font-size: var(--font-size-5);
}
#contact form label{
	display: inline-block;
	margin-bottom: 10px;
}
#contact form a{
	font-size: var(--font-size-5);
	text-decoration: underline;
	color: var(--theme-color-4);
}
#contact form a:hover{
	color: var(--theme-color-1);
}
#contact form input,
#contact form textarea{
	width: 100%;
	padding: 10px;
	margin-bottom: 25px; 
	border: 2px solid var(--theme-color-6);
	border-radius: var(--border-radius);
	resize: none;
	
	font-size: var(--font-size-2);
	color: var(--theme-color-2);
	background: var(--theme-color-6);
}
#contact form input:focus,
#contact form textarea:focus{
	background: var(--theme-color-4);
	transform: scale(1.05);
}
#contact form input::placeholder,
#contact form textarea::placeholder{
	color: var(--theme-color-2);
}
#contact input[type="submit"]{
	width: min-content;
	padding: 10px 25px;
	font-size: var(--font-size-5);
	border: none;
	background: var(--theme-color-3);
	font-weight: var(--font-weight-2);
}
#contact input[type="submit"]:hover{
	background: var(--theme-color-1);
	color: var(--theme-color-2);
	cursor: pointer;
}
#contact form div{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
#contact form div a{
	font-size: var(--font-size-3);
}
/*Contact End*/

/*Footer Start*/
#footer{
	width: 100%;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#footer .container{
	font-size: var(--font-size-4);
}
/*Footer End*/

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/

/* Media Query Laptop 1024px Start*/
@media screen and (max-width: 1024px){
	/*Base Styling Start*/
	html{
		font-size: 14px;
	}
	/*Base Styling End*/
	
/*----------------------------------------------------------------------------------------*/

	/*Header Start*/
	#header .nav-item a{
		margin-right: 0px;
	}
	/*Header End*/
	
/*----------------------------------------------------------------------------------------*/

	/*Home Start*/
	#home .container{
		width: 80%;
	}
	#home .box2{
		width: 350px;
		height: 350px;
	}
	/*Home End*/
	
/*----------------------------------------------------------------------------------------*/
	
	/*Services Start*/
	#services .container{
		width: 100%;
	}
	/*Services End*/



	#projects .container{
		padding: 5px;
		width: 100%;
		
	}
	#projects .projects{
		height: max-content;
		flex-direction: column;
		align-items: center;
	}
	#projects .projects-name-list{
		width: 80%;
		max-height: 40vh;
		padding: 10px;
	}
	#projects .projects-frame-box{
		width: 100%;
		height: 40vh;
	}
	#projects .project-frame iframe{
		height: 40vh;
		width: 100%;
	}
}
/* Media Query Laptop 1024px End*/

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/

/* Media Query Tab 768px Start*/
@media screen and (max-width: 768px){
	/*Base Styling Start*/
	html{
		font-size: 12px;
	}
	/*Base Styling End*/
	
/*----------------------------------------------------------------------------------------*/

	/*Header Start*/
	#header .nav-bar{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		position: absolute;
		top: 70px;
		right: -100%;
		width: 150px;
		overflow: hidden;
		text-align: center;
		background: var(--theme-color-2);
		border-radius: var(--border-radius);
		box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
		padding: 10px;
	}
	#header .nav-item a{
		display: block;
		font-size: var(--font-size-5);
	}
	#header .hamburger-box{
		display: flex;		
	}
	/*Header End*/
	
/*----------------------------------------------------------------------------------------*/
	#home .container{
		justify-content: center;
		text-align: center;
		padding-top: 75px;
	}
	#home .text-3{
		width: 100%;
	}
	#home .social-link{
		margin: 10px 0px;
	}
/*----------------------------------------------------------------------------------------*/
	
	#about .container{
		padding-top: 75px;
		width: 100%;
	}
	#services .container{
		padding-top: 75px;
		width: 100%;
	}
	#projects .container{
		padding-top: 75px;
		width: 100%;
	}
	#contact .container{
		padding-top: 75px;
		width: 100%;
	}
	#services .boxes > div{
		width: 60%;
		margin: 20px 0px;
	}
/*----------------------------------------------------------------------------------------*/
	
	#contact .box{
		flex-direction: column;
	}
	#contact .box > div{
		width: 100%;
		text-align: left;
	}
	#contact .box2{
		align-items: flex-start;
	}	
}
/* Media Query Tab 768px End*/

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/

/* Media Query Tab 425px Start*/
@media screen and (max-width: 425px){
	/*Header Start*/
	#header .logo a{
		font-size: var(--font-size-5);
	}
	/*Header End*/
	
/*----------------------------------------------------------------------------------------*/

	/*Home Start*/
	#home .container{
		width: 100%;
	}
	#home .text-1,
	#home .text-2{
		font-size: var(--font-size-7);
	}
	#home .box2{
		width: 300px;
		height: 300px;
	}
	.social-link a{
	margin: 10px;
}
	/*Home End*/

/*----------------------------------------------------------------------------------------*/

	/*Services End*/
	#services .container{
		padding: 20px 5px 0px;
	}
	#services .boxes > div{
		width: 95%;
		
	}
	/*Services End*/
	
	#contact form a{
		font-size: var(--font-size-4);
	}
}
/* Media Query Tab 425px End*/

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/